<h2 class="ui center aligned icon header">
  <div class="top-slogan-handler">
    <%= image_tag('about.png', class: 'top-slogan-image') %>
    <h1 class="slogan" style="margin-left: 15px">О нас</h1>
  </div>
</h2>

<div class="center-my center-text">
  <h1>Мы выделили несколько важных правил, соблюдая их мы можем гарантировать нашим клиентам отличное качество производимых работ</h1>
</div>
<div class="roundeds">
  <div class="rounded-handler " style="width: 150px">
    <div class="rounded">
      <%=image_tag('money.png', class: 'rounded-img') %>
    </div>
    <h3 style="width: 90px;text-align: center">Лояльные цены</h3>
    <p style="width: 160px; text-align: center">Мы не жертвуем качеством, а оптимизируем проект в обозначенный бюджет</p>
  </div>


  <div class="rounded-handler notfirst" style="width: 150px">
    <div class="rounded">
      <%=image_tag('time.png', class: 'rounded-img') %>
    </div>
    <h3 style="width: 90px;text-align: center">Соблюдение сроков</h3>
    <p style="width: 160px; text-align: center">Мы выполним работу в оговоренные сроки</p>
  </div>

  <div class="rounded-handler notfirst" style="width: 150px">
    <div class="rounded">
      <%=image_tag('agree.png', class: 'rounded-img') %>
    </div>
    <h3 style="width: 90px;text-align: center">Договор и гарантия</h3>
    <p style="width: 160px; text-align: center">На все виды работ мы заключаем договор и предоставляем гарантию сроком на 2 года</p>
  </div>

  <div class="rounded-handler notfirst" style="width: 150px">
    <div class="rounded">
      <%=image_tag('wall.png', class: 'rounded-img') %>
    </div>
    <h3 style="width: 90px;text-align: center">Не разрушаем технологии</h3>
    <p style="width: 160px; text-align: center">Соблюдение технологий ремонта - это залог успеха и гарантия качества</p>
  </div>


</div>
