<h2 class="ui center aligned icon header">
  <div class="top-slogan-handler">
    <%= image_tag('support.png', class: 'top-slogan-image') %>
    <h1 class="slogan" style="margin-left: 15px">Наши контакты</h1>
  </div>
</h2>
<div class="unit-show-content contact-handler">
  <div class="col">
    <div class="splitter">

      <div>
        <h1 class="slogan"> Наш офис находится тут </h1>
        <iframe class="map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A3561c47742dbb2a2aa4dc03673bc28c6b55c2206c3681dfd508fa3c93717d954&amp;source=constructor" width="441" height="240" frameborder="0"></iframe>
      </div>
      <div>
        <h1 class="slogan"> Контактная информация</h1>
        <div class="contact-info-handler">
          <div class="inline">
            <%= image_tag('address.png', class: 'contact-image') %>
            <p class="contact-text">Объездная ул., 2, Гомель</p>
            <%= image_tag('address.png', class: 'contact-image') %>
          </div>
          <div class="inline">
            <%= image_tag('telephone.png', class: 'contact-image') %>
            <p class="contact-text">Телефон +8 0232 45-76-19</p>
            <%= image_tag('telephone.png', class: 'contact-image') %>
          </div>
          <div class="inline">
            <%= image_tag('boss.png', class: 'contact-image') %>
            <p class="contact-text">Новиков Евгений Валерьевич</p>
            <%= image_tag('boss.png', class: 'contact-image') %>

          </div>
        </div>
      </div>

    </div>


    <h1 class="slogan">Есть вопросы? задайте их прямо сейчас!</h1>
    <%= form_for :question do |f| %>

      <div class="ui segment profile ">
        <%= render 'devise/shared/error_messages', resource: @question %>

        <div class="ui form ">
          <% if signed_in? %>
            <div class="field">
              <%= f.label 'Заголовок' %>
              <%= f.text_field :title, placeholder: 'Заголовок', class: 'data-input' %>
            </div>
            <div class="field">
              <%= f.label 'Вопрос' %>
              <%= f.text_field :body, placeholder: 'Вопрос', class: 'data-input' %>
            </div>

            <%= f.submit "Отправить", class: 'ui button secondary' %>
            </div>
            </div>
          <% else %>
            <div class="top-slogan-handler">
              <%= image_tag('padlock.png', class: 'top-slogan-image') %>
              <h1 class="slogan" style="margin-left: 15px">Авторизируйтесь</h1>
            </div>
          <% end %>
    <% end %>

  </div>
</div>

