<h1 class="slogan">Теплоинновация - качество, которое вы заслуживаете</h1>

<div class="flexslider-container">
  <%=image_tag('left.png', class:'left-btn') %>
  <div class="flexslider">
    <ul class="slides">
      <li>
        <%=image_tag('build1.jpg') %>
      </li>
      <li>
        <%=image_tag('build2.jpg') %>
      </li>
      <li>
        <%=image_tag('build3.jpg') %>
      </li>
    </ul>
  </div>
  <%=image_tag('right.png', class:'right-btn') %>
</div>


