<h2 class="ui center aligned icon header">
  <div class="top-slogan-handler">
    <%= image_tag('serv.png', class: 'top-slogan-image') %>
    <h1 class="slogan" style="margin-left: 15px">Редактирование услуги</h1>
  </div>
</h2>

<div class="center-my ">
  <%= form_for :service do |f|  %>

    <div class="ui segment profile ">
      <%=render 'devise/shared/error_messages', resource: @service %>

      <div class="ui form ">
        <div class="avatar-handler">
          <% if @service.image.attached? %>
            <%= image_tag(@service.image, class: 'exist-avatar-serv') %>
          <% else %>
            <%= image_tag('unit-default.png', class: 'avatar') %>
          <% end %>
        </div>
        <div class="field">
          <%=f.label 'Загрузить фото', class:'ui secondary button pick-image-button' %>
          <label for="">
          <span style="display: none">
             <%=f.file_field 'Загрузить фото'%>
          </span>
          </label>
        </div>
        <div class="field">
          <%= f.label 'Название' %>
          <%= f.text_field :name, placeholder: 'Название', class:'data-input'  %>
        </div>
        <div class="field">
          <%= f.label "Описание" %>
          <%= f.text_field :description, placeholder: 'Описание', class:'data-input'  %>
        </div>
        <div class="field">
          <%= f.label "Стоимость" %>
          <%= f.text_field :price, placeholder: 'Стоимость', class:'data-input'  %>
        </div>
        <%= f.submit "Создать
", class: 'ui button secondary'%>
      </div>
    </div>
  <% end %>
</div>