<div class="ui mini menu massive ">
  <a class="item" href="/">

    <%=image_tag('logot.png', class:'my-logo-img') %>
  </a>

  <%= link_to 'Теплоинновация', root_path, class: 'active item' %>
  <%= link_to 'Контакты', contacts_path, class: 'item' %>





  <%= link_to "Услуги", services_path, class: 'item' %>
  <%= link_to "Работники", workers_path, class: 'item' %>
  <%= link_to 'Отзывы', pages_reviews_path, class: 'item' %>
  <%= link_to 'О нас', about_path, class: 'item' %>

  <% if user_signed_in? %>
    <%= link_to "Ваши вопросы", questions_path, class: 'item' %>

    <% if current_user.is_admin? %>
      <div class="right menu">
        <div class="ui dropdown item" style="color: red">
          Админ панель
          <div class="menu">
            <%= link_to "Вопросы", answers_path, class: 'item' %>
            <%= link_to "Модерация отзывов",  reviews_moderation_path, class: "item" %>
            <%= link_to "Модерация списка услуг", services_path, class: "item" %>
            <%= link_to "Модерация списка работников", workers_path, class: "item" %>
          </div>
        </div>

    <% end %>
  <% end %>



  <div class="right menu">
    <% unless user_signed_in? %>
      <div class="item">
        <%= link_to "Регистрация", new_user_registration_path, class: 'ui secondary button' %>
      </div>
      <div class="item">
        <%= link_to "Авторизация", new_user_session_path, class: 'ui secondary button' %>
      </div>
    <% else %>
      <div class="item">
        <% if current_user.admin? %>
          <h1 class="">
            <%= image_tag('crown.png', class: 'admin-crown') %>
            <%= link_to current_user.email.split('@')[0], profile_update_path, class: 'profile-login admin-profile' %>
            <%= image_tag('crown.png', class: 'admin-crown') %>
          </h1>
        <% else %>
          <h1 class=""><%= link_to current_user.email.split('@')[0], profile_update_path, class: 'profile-login' %></h1>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "Деавторизация", destroy_user_session_path, :method => :delete, class: 'ui secondary button' %>
      </div>
    <% end %>
  </div>
  </div>

</div>